@model List<app.Models.log_AuditoriaSalarios>

<h2>Auditoría de salarios</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Emp No</th>
            <th>Salario</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.id</td>
                <td>@x.fechaActualiz.ToString("yyyy-MM-dd")</td>
                <td>@x.usuario</td>
                <td>@x.emp_no</td>
                <td>@x.salario</td>
                <td>@x.DetalleCambio</td>
            </tr>
        }
    </tbody>
</table>