@model List<app.ViewModels.AsignacionRowVM>

<h2>Asignación de Departamentos</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Dept</th>
            <th>Departamento</th>
            <th>Emp</th>
            <th>Empleado</th>
            <th>Desde</th>
            <th>Hasta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.dept_no</td>
                <td>@x.dept_name</td>
                <td>@x.emp_no</td>
                <td>@x.empleado</td>
                <td>@x.from_date</td>
                <td>@x.to_date</td>
            </tr>
        }
    </tbody>
</table>









